version: '3.8'

services:
  # bd
  db:
    image: postgres
    container_name: ft-postgres
    restart: always
    environment:
      POSTGRES_DB: fast_tasker
      POSTGRES_USER: back_fast_tasker
      POSTGRES_PASSWORD: Fasttaskerbackpassword-123666
    ports:
      - "5433:5432"
    volumes:
      - fasttasker_data:/var/lib/postgresql/data

  # backend (monolithic)
  backend:
    build: ./monolith-app
    container_name: ft-backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/fast_tasker

  #client
  client:
    build: ./client
    container_name: ft-client
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  fasttasker_data:
