server:
  port: 8082 # port for api-gateway

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters: # disable CORS temporally. Remove CORS in microservices (before monolith will be empty)
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      server:
        webflux: # using for nextjs

        # CORS config
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:3000" # URL frontend
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                allowCredentials: true

          routes:
            # Monolith
            - id: monolith
              uri: http://127.0.0.1:8081 # the ip address is the loopback (ip for traffic local)
                                         # port 8081
              # allowed routes:
              predicates:
                - Path=/api/v1/auth/**,/api/v1/tasker/**,/api/v1/tasks/**,/api/v1/accounts/**,/api/v1/conversations/**

            # notification-service
            - id: notification-service
              uri: http://127.0.0.1:8083
              predicates:
                - Path=/api/v1/notifications/**

            # websockets routes (notification and chat)
            - id: websocket-service
              uri: http://127.0.0.1:8081
              predicates:
                - Path=/ws/**
