server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: monolith-app
          uri: lb://monolith-app
          predicates:
            - Path=/api/v1/auth/**, /api/v1/users/**

        - id: task-service
          uri: lb://task-service
          predicates:
            - Path=/api/v1/tasks/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/