server:
  port: 8082

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters: # disable CORS temporally. Remove CORS in microservices (before monolith will be empty)
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      server:
        webflux:
          # Configuracion Global de CORS (para que el frontend no tenga problemas)
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:3000" # O la URL de tu frontend
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                allowCredentials: true

          routes:
            # Ruta hacia el Monolito (Auth, Taskers, Tasks)
            - id: monolith-service
              uri: http://127.0.0.1:8081
              predicates:
                - Path=/api/v1/auth/**,/api/v1/tasker/**,/api/v1/tasks/**,/api/v1/accounts/**,/api/v1/conversations/**

            # Ruta hacia el Servicio de Notificaciones
            - id: notification-service
              uri: http://127.0.0.1:8083
              predicates:
                - Path=/api/v1/notifications/**

            # Ruta para WebSockets (Notificaciones en tiempo real)
            - id: websocket-service
              uri: http://127.0.0.1:8081
              predicates:
                - Path=/ws/**
